@model LibraryManagement.Models.Branch.BranchDetailModel

@{
    ViewBag.Title = @Model.Name;
}

<div>
    <div>
        <h2 class="title">@ViewBag.Title</h2>
    </div>
    <div class="row">
        <img class="branchImage" src="@Model.ImageUrl"/>
    </div>
    <div class="row branchInfo">
        <div class="col-md">
            <div class="branchContact">
                <div id="branchAddress">Address: <span>@Model.Address</span></div>
                <div id="branchTel">Telephone: <span>@Model.Telephone</span></div>
                <p class="openingTimes">Opening Times: </p>
                <ul>
                    @foreach (var day in Model.HoursOpen)
                    {
                        <li>@day</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md">
            <div class="branchDetails">
                <div id="branchOpenDate">Date Opened: <span>@Model.OpenDate</span></div>
                <div id="branchNumOfPatrons">Number Of Patrons: <span>@Model.NumberOfPatrons</span></div>
                <div id="branchNumOfAssets">Number Of Assets: <span>@Model.NumberOfAssets</span></div>
                <div id="branchAssetValue">Value Of Assets: <span>@Model.TotalAssetValue</span></div>
            </div>
        </div>
    </div>
</div>

<style>
    .title {
        text-align: center;
        margin: 20px;
    }
    .branchInfo {
        margin: auto;
        width: 50%;
    }
    .branchImage {
        margin: auto;
        height: 300px !important;
        width: 50% !important;
    }
    
    .branchContact > div {
        font-size: 18px;
        font-weight: bold;
        margin: 10px;
    }

    .branchContact > div > span {
        font-size: 15px;
        font-weight: normal;
        margin: 10px;
    }
    .branchDetails > div {
        font-size: 18px;
        font-weight: bold;
        margin: 10px;
    }

    .branchDetails > div > span {
        font-size: 15px;
        font-weight: normal;
        margin: 10px;
    }
    .openingTimes {
        font-size: 18px;
        font-weight: bold;
        margin: 10px;
    }

    .feeValue {
        color: red;
    }

    .patronAssets {
        margin: 10px;
    }

    .patronHolds {
        margin: 10px;
    }
</style>