@model LibraryManagement.Models.Catalog.AssetIndexModel

<div id="assets">
    <h3 class="title">Library Catalog</h3>
    <div id="assetsTable">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="catalogIndexTable">
            <thead>
                <tr>
                    <th class="tableHeader">Image</th>
                    <th class="tableHeader">Title</th>
                    <th class="tableHeader">Author / Director</th>
                    <th class="tableHeader">Dewey Call Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in Model.Assets)
                {
                    <tr class="assetRow">
                        <td class="tableData">
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id">
                                <img src="@asset.ImageUrl" class="imageCell" />
                            </a>
                        </td>
                        <td class="tableData">@asset.Title</td>
                        <td class="tableData">@asset.AuthorOrDirector</td>
                        <td class="tableData">@asset.DeweyCallNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<style>
    .title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .imageCell {
        height: 300px;
        width: 200px;
        margin-bottom: 10px;
    }
    #catalogIndexTable{
        width: 100%;
    }
    .tableHeader {
        text-align: center !important;
    }
    .tableData {
        position: relative !important;
        text-align: center !important;
        vertical-align: middle !important;
        height: 48px !important;
        border-top: 1px solid rgba(0,0,0,.12) !important;
        border-bottom: 1px solid rgba(0,0,0,.12) !important;
        padding: 12px 18px 0 !important;
        box-sizing: border-box !important;
    }
</style>