@model LibraryManagement.Models.Catalog.AssetIndexModel

<div id="assets">
    <h3>Library Catalog</h3>
    <div id="assetsTable">
        <table class="table table-condensed" id="catalogIndexTable">
            <thead>
                <tr>
                    <th class="tableHeader">Image</th>
                    <th class="tableHeader">Title</th>
                    <th class="tableHeader">Author / Director</th>
                    <th class="tableHeader">Dewey Call Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in Model.Assets)
                {
                    <tr class="assetRow">
                        <td class="">
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id">
                                <img src="@asset.ImageUrl" class="imageCell" />
                            </a>
                        </td>
                        <td class="assetTitle">@asset.Title</td>
                        <td class="assetAuthorOrDirector">@asset.AuthorOrDirector</td>
                        <td class="assetDewey">@asset.DeweyCallNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<style>
    .imageCell {
        height: 300px;
        width: 200px;
    }
    imageCell:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
    .tablerHeader {
        text-align: center;
    }
</style>