@model LibraryManagement.Models.Patron.PatronIndexModel

@{
    ViewBag.Title = "Patron Index";
}

<h3 class="title">@ViewBag.Title</h3>

<div id="patronIndex">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp customTable" id="patronIndexTable">
        <thead>
            <tr>
                <th>Profile Link</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Library Card ID</th>
                <th>Overdue Fees</th>
                <th>Home Library</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var patron in Model.Patrons)
            {
            <tr>
                <td><a asp-controller="Patron" asp-action="Detail" asp-route-id="@patron.Id">View Profile</a></td>
                <td>@patron.FirstName</td>
                <td>@patron.LastName</td>
                <td>@patron.LibraryCardId</td>
                <td>@patron.OverDueFees</td>
                <td>@patron.HomeLibraryBranch</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .title {
        text-align: center;
        margin: 20px;
    }
    .customTable {
        margin: auto;
        width: 50%;
    }
</style>